* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  scrollbar-width: auto;
}

button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
}
