@import '../../../styles/variables.scss';

.container {
  height: $headerHeight;
  background-color: $tundora;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.content {
  display: flex;
}

.title {
  color: white;
}

.button {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 7px 25px;
  margin-left: 30px;
}
