.container {
  margin: 20px 50px 80px 50px;
  height: calc(100vh - 220px);
}

.page {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  margin: 20px 0 20px 50px;
}

.title {
  font-size: 20px;
  border-bottom: 1px solid black;
  padding: 13px 0 13px 35px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px 15px 35px;
  align-items: center;
}

.footerContainer {
  border-top: 1px solid black;
  padding: 13px 35px 13px 35px;
}

.footer {
  display: flex;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  &:hover {
    opacity: 0.7;
  }
}

.tableActionsColumn {
  width: 100px;
}

.modalHeader {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.modalCrossButton {
  cursor: pointer;
}

.modalAddButton {
  border: none;
  background: #f97315;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;

  &:hover {
    opacity: 0.7;
  }
}

.modalButtonContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalInputWrapper {
  display: grid;
  grid-template-columns: 180px 1fr;
}
