.substrate {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 25px;
  background: white;
  border-radius: 16px;
  width: 100%;
  max-width: 550px;
  box-shadow: 1px 1px 8px rgb(208, 208, 208);
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
